extends layout

block content
    a(name='home')
    .home(itemscope, itemtype="http://schema.org/Organization", onmouseover="ga('send', 'event', 'pages', 'viewed', 'home');")
        h1
            a(href='/', itemprop="url")
                img(src='/images/logo-thing3.png')
        h2 leftshift
        p we create loveable apps
        p 
            | iOS
            span.star &nbsp;★ 
            | android
            span.star &nbsp;★ 
            | web
    a(name='love')
    .whatwedo(onmouseover="ga('send', 'event', 'pages', 'viewed', 'love');")
        .box
            h2: a(href='/love') What has love got to do with making apps?
            p There is only one way to make amazing software. First, you find the most talented, enthusiastic, passionate, endearing and hard working team that can be found. Then, you find an idea, as bold and as refreshing as only ideas can be. And then, you let the two fall in love.
            p Love is what drives a developer to tweak an animation, which only lasts a second, with infinite permutations till it becomes perfect. Love is what drives a designer to alter pixel after pixel so that the icon looks perfect at 24 by 24 pixels.
            p Love is what turns a good app into a piece of art.
    a(name='skills')
    .skills(onmouseover="ga('send', 'event', 'pages', 'viewed', 'skills');")
        .box
            h2 Here is what we can do for you
            p 
                | We are the mobile specialists that you've been looking for. We can help 
                b ideate
                | , 
                b design&nbsp;
                | and 
                b develop 
                | applications and their backends. All of our work revolves around the iPhone, iPad, Android and Node.js
        .lists
            .list3
                h4 Create 
                    span Products
                p We can help create new products for your team. Most clients prefer to have us churn out the first version of the product while they setup an internal team for development and support.
                p: a.button2.green-button(href='#intown') See what we did for 
                    span NH7&nbsp;InTown
                p.clear
            .list3
                h4 Improve 
                    span Products
                p We can take your existing mobile and web products, and redefine them for your customers. The usual suspects would be products which haven't been worked upon in a long time.
                p: a.button2.green-button(href='#bookmyshow') See what we did for 
                    span BookMyShow
                p.clear
            .list3
                h4 Expand 
                    span Products
                p We can help migrate your products to new platforms. Most products start with a smaller set of platforms, due to a lack of time or budget. We help in taking them to newer platforms.
                p: a.button2.green-button(href='#stepjockey') See what we did for 
                    span StepJockey
                p.clear
            .clear
        .lists-end
    a(name='clients')
    .clients
        .box
            h2 Here are some companies that we have helped
        .lists
            each client in clients
                .list12
                    img(src=client.logo)
                    h4= client.name
            .clear
    a(name='portfolio')
    .portfolio(onmouseover="ga('send', 'event', 'pages', 'viewed', 'portfolio');")
        .box
            h2 Want to try out our apps? Here you go
    each project in projects
        a(name=project.access)
        div(class=project.layout, onmouseover="ga('send', 'event', 'pages', 'viewed', '" + project.access + "');")
            .box(itemscope, itemtype="http://schema.org/SoftwareApplication")
                .details
                    h2(itemprop="name"): a(href=project.url)= project.name
                    h4= project.tagline
                    p= project.para1
                    p= project.para2
                    br
                    meta(itemprop="url", content=project.mainurl)
                    if project.appstoreurl
                        a.appstore(target='_blank', href=project.appstoreurl)
                        | &nbsp;
                    if project.googleplayurl
                        a.googleplay(target='_blank', href=project.googleplayurl)
                .image
                    img.productdisplay(itemprop="image", src=project.screenshot + '?w=700', alt=project.alttext)
                .clear
    a(name='team')
    .team(onmouseover="ga('send', 'event', 'pages', 'viewed', 'team');")
        .box
            h2 Our team
        .lists
            each member in team
                .list12
                    img(src=member.picture)
                    h4= member.name
            .list12
                a(name='careers')
                a(target='_blank', href='https://leftshift.recruiterbox.com/'): img(src='/images/people/joinus.png')
            .clear
    a(name='contact?url=contact')
    a(name='contact')
    .contact(onmouseover="ga('send', 'event', 'pages', 'viewed', 'contact');")
        .box
            h2 Get in touch with us
            p Email : 
                a(href='mailto:pune@leftshift.io', onmouseover="ga('send', 'event', 'link', 'clicked', 'contactemail');") pune@leftshift.io
            p Phone : 
                a(href='tel:+917875670066', onmouseover="ga('send', 'event', 'link', 'clicked', 'contactphone');") 0091-7875670066
            p Twitter : 
                a(target='_blank', onmouseover="ga('send', 'event', 'link', 'clicked', 'contacttwitter');", href='https://twitter.com/intent/tweet?in_reply_to=433854322875437056') @leftshifters
            br
            p Jobs : Please apply  
                a(target='_blank', href='https://leftshift.recruiterbox.com/', onmouseover="ga('send', 'event', 'link', 'clicked', 'contactjobs');") here
            br
            p 103, Tower 1, World Trade Center, Kharadi, Pune - 411014, India
            br
            p View on 
                a(target='_blank', href='http://maps.google.com/maps?f=q&hl=en&geocode=&q=World+Trade+Center,+Kharadi,+Pune,+India&ie=UTF8&hq=World+Trade+Center,+Kharadi&hnear=Pune,+Maharashtra,+India&ll=18.552682,73.949412&spn=0.034185,0.058193&z=13&iwloc=A') Google Maps
            br
            p: small
                a(target='_blank', href='comgooglemaps://?saddr=&daddr=World+Trade+Center,+Kharadi,+Pune,+India&directionsmode=driving') Directions on Google Maps for iOS
    .footer(onmouseover="ga('send', 'event', 'pages', 'viewed', 'footer');")
        .box
            p
                | Find out more about our 
                a(href='/#skills') services
                br
                | Find out who's on our 
                a(href='/#team') team
                br
                | Subscribe to our   
                a(href='http://eepurl.com/Rclb1', target='_blank') newsletter
                br
                | Check out our 
                a(href='/#portfolio') portfolio
                br
                | Here's how to  
                a(href='/careers') join us
                br
                | Follow us on 
                a(href='https://twitter.com/leftshifters', target='_blank') Twitter
                br
                | Get in touch 
                a(href='/#contact') with us
                br
                | Check out our 
                a(href='/blog') blog
                br
                | Go back to 
                a(href='/#home') home
            br
            p All text and design is copyright &copy;2007-2016 LeftShift Technologies Pvt Ltd