---
export interface Props {
	project: any;
}

const { project } = Astro.props;
---
<a name={project.access}></a>
<div class={project.layout}>
    <div class="box">
        <div class="details">
            <h2><a href={project.url}>{project.name}</a></h2>
            <h4>{project.tagline}</h4>
            <p>{project.para1}</p>
            <p>{project.para2}</p>
            <br>
            <a class="appstore" target="_blank" href={project.appstoreurl}></a>
            <a class="googleplay" target="_blank" href={project.googleplayurl}></a>
        </div>
        <div class="image">
            <img class="productdisplay" src={project.screenshot + '?w=700'} alt={project.alttext} />
        </div>
        <div class="clear"></div>
    </div>
</div>